:root {

  
    --oxford-blue_60: hsla(224, 34%, 13%, 0.6);
    --green-pigment: hsl(142, 76%, 36%);
    --oxford-blue: hsl(224, 34%, 13%);
    --maximum-red: hsl(0, 72%, 51%);
    --eerie-black: hsl(0, 0%, 9%);
    --mint-cream: hsl(146, 41%, 97%);
    --cadet-gray: hsl(215, 20%, 65%);
    --light-gray: hsl(216, 12%, 84%);
    --carcoal_20: hsla(214, 19%, 29%, 0.2);
    --carcoal_15: hsla(214, 19%, 29%, 0.15);
    --carcoal_10: hsla(214, 19%, 29%, 0.10);
    --sea-green: hsl(142, 72%, 29%);
    --gainsboro: hsl(220, 13%, 91%);
    --white_70: hsla(0, 0%, 100%, 0.7);
    --gunmetal: hsl(215, 28%, 17%);
    --manatee: hsl(218, 11%, 65%);
    --mango: hsl(43, 96%, 56%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
  
    --ff-spartan: 'League Spartan', sans-serif;
  
    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2rem;
    --fs-4: 1.8rem;
    --fs-5: 1.7rem;
  
    --fw-600: 600;
    --fw-500: 500;
  
  
    --section-padding: 35px;

  
    --shadow-1: 0 1px 2px hsla(0, 0%, 0%, 0.2);
    --shadow-2: 0 10px 15px -5px var(--carcoal_20);
    --shadow-3: 0 10px 25px -3px var(--carcoal_20);
    --shadow-4: 0 0 3px var(--carcoal_15);
    --shadow-5: 0 20px 25px -5px var(--carcoal_10),
                0 10px 10px -5px var(--carcoal_10);
  
  
    --radius-16: 16px;
    --radius-12: 12px;
    --radius-6: 6px;
    --radius-4: 4px;
  
  
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }
  
  
  
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a,
  img,
  span,
  label,
  input,
  select,
  button,
  ion-icon { display: block; }
  
  img { height: auto; }
  
  input,
  select,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input,
  select { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon { pointer-events: none; }
  
  address { font-style: normal; }
  
  html {
    font-family: var(--ff-spartan);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--white);
    font-size: var(--fs-5);
    color: var(--cadet-gray);
  }
  
  
  
  .container { padding-inline: 15px; }
  
  .btn {
    background-color: var(--green-pigment);
    color: var(--white);
    font-weight: var(--fw-500);
    max-width: max-content;
    padding: var(--padding, 12px 28px);
  }
  
  .btn:is(:hover, :focus) { background-color: var(--sea-green); }
  
  .btn-secondary { border-radius: 50px; }
  
  .btn-primary { border-radius: var(--radius-6); }
  
  .h1 { font-size: var(--fs-1); }
  
  .h2,
  .h3 {
    color: var(--oxford-blue);
    line-height: 1.5;
  }
  
  .h2 {
    font-size: var(--fs-2);
    font-weight: var(--fw-500);
  }
  
  .h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-500);
  }
  
  .section { padding-block: var(--section-padding); }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--gainsboro);
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section-title { color: var(--oxford-blue); }
  
  .section-text { line-height: 1.6; }

.header {
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 15px;
    z-index: 4;
  }
  
  .header.active { box-shadow: var(--shadow-1); }
  
  .header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    font-size: 2.2rem;
    font-weight: var(--fw-600);
    color: var(--black);
  }
  
  .logo ion-icon {
    display: inline-block;
    color: var(--sea-green);
    --ionicon-stroke-width: 50px;
  }
  
  .nav-toggle-btn {
    font-size: 35px;
    color: var(--oxford-blue);
  }
  
  .nav-toggle-btn ion-icon { --ionicon-stroke-width: 30px; }
  
  .nav-toggle-btn.active .menu-icon,
  .nav-toggle-btn .close-icon { display: none; }
  
  .nav-toggle-btn .menu-icon,
  .nav-toggle-btn.active .close-icon { display: block; }
  
  .header .btn { margin-inline-start: auto; }
  
  .navbar {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--white);
    padding: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
  }
  
  .navbar.active {
    max-height: 260px;
    visibility: visible;
    box-shadow: var(--shadow-1);
    transition-duration: 0.5s;
  }
  
  .navbar-list {
    margin-block: 10px;
    opacity: 0;
    transition: var(--transition);
  }
  
  .navbar.active .navbar-list { opacity: 1; }
  
  .navbar-link {
    color: var(--oxford-blue);
    font-weight: var(--fw-500);
    letter-spacing: 1px;
    padding: 12px 25px;
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--green-pigment); }
  
  .article { position: relative; }
  
  .hero { padding-block-start: 80px; }
  
  .hero-bg {
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-16);
    overflow: hidden;
  }
  
  .hero-content {
    background-color: var(--oxford-blue_60);
    padding-block: 180px;
    padding-inline: 40px;
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    text-align: center;
  }
  
  .hero-title {
    max-width: 16ch;
    margin-inline: auto;
    color: var(--white);
    line-height: 1.5;
    margin-block-end: 20px;
  }
  
  .hero-title .span {
    display: inline-block;
    color: var(--green-pigment);
  }
  
  .hero-text {
    color: var(--white_70);
    font-size: var(--fs-3);
    line-height: 1.4;
  }
  
  .hero-form-wrapper {
    background-color: var(--white);
    margin-block-start: -100px;
    width: calc(100% - 10px);
    margin-inline: auto;
    border-radius: var(--radius-16);
    overflow: hidden;
    box-shadow: var(--shadow-2);
  }
  
  .form-tab {
    padding: 16px;
    border-block-end: 1px solid var(--gainsboro);
    display: flex;
    justify-content: center;
  }
  
  .tab-btn {
    padding: 12px 24px;
    color: var(--oxford-blue);
    font-weight: var(--fw-500);
    border-radius: var(--radius-6);
    transition: var(--transition);
  }
  
  .tab-btn:is(:hover, :focus) { color: var(--green-pigment); }
  
  .tab-btn.active {
    color: var(--white);
    background-color: var(--green-pigment);
  }
  
  .hero-form {
    display: grid;
    gap: 25px;
    padding: 25px;
  }
  
  .hero-form .input-wrapper { position: relative; }
  
  .hero-form :is(.input-label, .input-field) { color: var(--oxford-blue); }
  
  .hero-form .input-label {
    font-weight: var(--fw-500);
    margin-block-end: 10px;
  }
  
  .hero-form :is(.input-field, .dropdown-list) {
    min-height: 40px;
    border: 1px solid var(--gainsboro);
    border-radius: var(--radius-4);
    outline: none;
    transition: var(--transition);
  }
  
  .hero-form :is(.input-field, .dropdown-list):focus { border-color: var(--green-pigment); }
  
  .hero-form .input-wrapper ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(20%);
    left: 15px;
    color: var(--oxford-blue);
    --ionicon-stroke-width: 40px;
  }
  
  .hero-form .input-field { padding-inline: 45px 15px; }
  
  .hero-form .input-field::placeholder { color: var(--manatee); }
  
  .hero-form .dropdown-list { padding-inline: 15px; }
  
  .hero-form .btn { max-width: 100%; }
  
  .about .section-title { max-width: 20ch; }
  
  .about-banner {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-16);
    margin-block-end: 30px;
  }
  
  .about-banner .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    color: var(--green-pigment);
    padding: 30px;
    font-size: 20px;
    border-radius: 50px;
  }
  
  .about .section-text { margin-block: 20px 25px; }
  
  
  
  